body {
    margin: 0;
    font-family: "Roboto", Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #4E4E4E;
}
/* head */
.black {
    color: #000;
}
.white {
    color: #fff;
}
.blue {
    color: #195ABB;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
}
.main-title {
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    letter-spacing: -0.03em;
    margin-left: 30px;
}
.titles {
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 16px;
}
.blue-head {
    max-width: 1240px;
    height: 56px;
    box-sizing: border-box;
    padding: 16px 0 16px 24px;
    background: #195ABB;
    border-radius: 8px 8px 0px 0px;
}
/* form */
.grey-bg-form {
    max-width: 1240px;
    padding: 24px;
    background: #F8F9FF;
    border-radius: 0 0 8px 8px;
    box-sizing: border-box;
}
.titles-small {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
}
.required::after {
    content: "*";
    color: red;
    padding-left: 7px;
}
/* radio btn */
.btn-title {
    display: flex;
}
.checkbox-text {
    opacity: 0.5;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #D6D5D5;
    width: 60px;
    height: 56px;
    box-sizing: border-box;
}
.left {
    border-radius: 30px 0px 0px 30px;
}
.right {
    border-radius: 0 30px 30px 0;
}
.middle {
    border-left: none;
    border-right: none;
}
.top-layer {
    z-index: 1;
}
.checkbox:checked + .checkbox-text {
    color: #195ABB;
    border-color: #195ABB;
}
.checkbox:checked + .middle {
    box-shadow: -1px 0 0 0 #195ABB,
                1px 0 0 0 #195ABB;
}
.hidden {
    display: none;
}
/* simple inputs */
.input::placeholder{
    opacity: 0.5;
    }
.input {
    background: #F8F9FF;
    border: 1px solid #D6D5D5;
    box-sizing: border-box;
    border-radius: 30px;
    padding: 0 25px;
    height: 56px;
    margin-bottom: 20px;
}
.small {
    width: 182px;
}
.btn {
    display: inline-block;
    width: 158px;
    height: 56px;
    border-radius: 30px;
    border: 1px solid #195ABB;
    padding-bottom: 0;
    cursor: pointer;
    margin-bottom: 20px;
}
.submit {
    background: #195ABB;
}
.reset {
    background: #F8F9FF;
}
/* medias */
@media screen and (min-width: 768px) {
    .row {
        display: flex;
        margin-bottom: 38px;
    }
    .form-pieces {
        margin-left: 20px;
    }
    .no-left {
        margin-left: 0;
    }
    .long {
        width: 244px;
    }
    .medium {
        width: 162px;
    }
    .checkbox-text {
        width: 54px;
    }
}
@media screen and (min-width: 1200px) {
    .container {
        padding: 20px;
    }
    .main-title {
        margin-left: 0;
    }
    .long {
        width: 384px;
    }
    .medium {
        width: 283px;
    }
    .checkbox-text {
        width: 94px;
    }
    .btn:hover {
        box-shadow: 0 0 3px 3px #333;
    }
    .btn:active {
        box-shadow: 0 0 10px 10px #333;
    }
}